<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAY!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/url" method="GET">
        <p>I heard that you had a good day today! Tell me how it went:</p>
        <input type="text" name="text" placeholder="Go ahead..." required>
        <button type="submit">Submit</button>  
    <div class="container">
        <h2>You're happy today!!</h2>
        
    </div>
</body>
</html>